* {
    font-family: 'Source Sans Pro', sans-serif;
}

body h1 {
    text-align: center;
    font-size: 70px;
}

.button {
    display: block;
    margin: auto;
    padding: 10px;
    width: 200px;
	height: 100px;
	background: #F5F5F5;
	border: #999 3px solid;
	font-size: 35px;
	text-align: center;
}

.rules {
    padding: 10px;
    width: 200px;
	height: 100px;
	background: #F5F5F5;
	border: #999 3px solid;
	font-size: 35px;
	text-align: center;
}