* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	color: white;
	background-image: url("Photos/Background.jpg");
}

body h2 {
	clear: left;
	color: white;
	font-size: 24px;
}

div.dice {
	float: left;
	width: 32px;
	height: 32px;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
}

.button {
	float: left;
	width: 130px;
	height: 62px;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
	background-image: url(photos/RollBG.png);
	color: white;
}

.dice {
	float: left;
	width: 62px;
	height: 62px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
}
